body {
  background-color: #e7e3ed;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:focus {
  color: #7754b3;
}

.navbar {
  background-color: #7754b3;
}

.user-profile {
  font-weight: 500;
  text-transform: capitalize;
}

.user-profile img {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

.login-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.picture {
  width: 128px;
  height: 128px;
  border-radius: 80px;
  border: 2px solid #e7e3ed;
  padding: 3px;
  background-color: #fff;
}

.small-text {
  text-transform: uppercase;
  font-size: 12px;
  color: #888;
  text-align: center;
  display: block;
  text-decoration: none;
}

.name {
  font-size: 26px;
  text-transform: capitalize;
}

.btn-primary {
  color: #fff;
  background-color: #7754b3;
  border-color: #7754b3;
  cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
  background-color: #7754b3;
  border-color: #7754b3;
  outline: 0;
  opacity: .9;
}

.embed-container {
  height: 800px;
}
