html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  background-image: url('../public/sign-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  height: 100%;
  background-color: #f3f3f3;
}
body::after {
  content: '';
  background-image: url('../public/sign2.png');
  position: absolute;
  background-position: -120px bottom;
  background-size: contain;
  left: 0;
  right: 0;
  top: 0;
  bottom: 40px;
  background-repeat: no-repeat;
  z-index: 1;
}
.clearfix {
  clear: both;
}
a,
a:hover,
a:focus {
  color: #7754b3;
}
.container {
  margin-left: 15px;
  margin-right: 15px;
}
.navbar {
  background-color: #5629b6;
  padding: 11px 15px;
  height: 72px;
}

.user-profile {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 12px;
}

.user-profile img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.login-box,
.instruction {
  background-color: #fff;
  padding: 50px 40px;
  border-radius: 17px;
  margin: 0 auto;
  margin-top: 30%;
}
.login-box {
  text-align: center;
}

.picture {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.small-text {
  text-transform: uppercase;
  font-size: 10px;
  color: #31424e;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 15px 0;
  border-top: #ebebeb solid 1px;
  border-bottom: #ebebeb solid 1px;
  margin-bottom: 25px !important;
}

.name {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 25px 0;
  color: #5629b6;
}

.btn-primary {
  color: #fff;
  background-color: #5629b6;
  border: 0;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
  background-color: #7754b3;
  border-color: #7754b3;
  outline: 0;
  opacity: 0.9;
}
.navbar-nav {
  display: inline-block;
  margin-top: 7px;
}
.navbar-nav.ml-auto {
  float: right;
  margin-right: 50px;
  margin-top: 0;
}
.navbar-inverse .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-inverse .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar-nav .nav-link {
  display: inline-block;
  font-size: 12px;
  background-color: #5f34ba;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;

  font-weight: 900;
  text-transform: uppercase;
  border-radius: 5px;
}
.navbar-nav .nav-link.nav-user-link {
  background-color: transparent;
}
.instruction h2 {
  font-size: 18px;
  font-weight: 900;
  color: #5629b6;
  padding-bottom: 25px;
  margin-bottom: 25px !important;
  border-bottom: #ebebeb solid 1px;
}
.instruction {
  position: relative;
  z-index: 2;
}
.instruction ul {
  color: #787878;
  font-size: 14px;
  line-height: 18px;
  padding-left: 15px;
  font-weight: normal;
}
.instruction ul li {
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  .navbar-toggleable .navbar-nav .nav-link {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 575px) {
  .navbar-toggleable > .container {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .navbar-nav.ml-auto {
    margin-right: 0;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
  }
}
